[Desktop Entry]
Type=Application
Name=st
Comment=simple-terminal emulator for X
Icon=st
Exec=st
Categories=System;TerminalEmulator
StartupWMClass=st-256color
